# Configuration du Portfolio
VITE_AUTHOR_NAME=Jawhar
VITE_AUTHOR_EMAIL=jawhar@example.com
VITE_GITHUB_URL=https://github.com/Jwh2110
VITE_LINKEDIN_URL=https://linkedin.com/in/jawhar

# Mode développement
VITE_DEBUG=false